{% extends 'songs_of_SS/base.html' %}

{% block title %}
Про SadSvit
{% endblock %}

{% block content %}
<img class="img-SadSvit" src="../../static/songs_of_SS/media/садсад.jpg" alt="SadSvit">
<div class="information">
    <h3 style="text-align: center; margin-top: -20px;">SadSvit</h3>
    <p>Богдан Розвадовський, більш відомий як SadSvit (нар. 1 травня 2004, Івано-Франківськ) — український інді-поп та постпанк виконавець, композитор та автор пісень.
    Дискографія артиста налічує три альбоми — «Cassette», «20&21», «Неонова мрія», а також два мініальбоми «Суматоха», та «Холод» спільно з Sad Novelist.</p>
    <p>Народився 1 травня 2004 року у місті Івано-Франківськ. Навчається у Прикарпатському національному університеті на юридичному факультеті. Музикою захоплювався з раннього дитинства. У 13 років у Богдана з'явився ноутбук і він почав опановувати програми для створення музики, музичної освіти Богдан не має, але грає на гітарі. Спочатку був бітмейкером і робив біти на замовлення, але згодом усвідомив, що хоче творити власну музику.</p>
    <p>У 2019 році співпрацював з «Хтось із Заходу» та згодом записали спільну пісню «Мій Вимір». Шлях сольного артиста Богдан почав у 2020 році, 4 квітня вийшов перший трек на SoundCloud «Разбитые мечты». Першою українськомовною була пісня «Не забувай» 2020 року, саме з неї Богдан почав свій шлях як SadSvit.</p>
    <p>Перший мініальбом SadSvit «Суматоха» вийшов 4 грудня 2020 року російською мовою.
       30 грудня 2020 вийшов наступний мініальбом «Холод» записаний спільно з SadNovelist.
       13 грудня 2021 року вийшов перший студійний альбом «Cassette» із треком «Молодість», який став дуже популярним у TikTok. З «Молодістю» SadSvit отримав 7 місце у рейтингу Топ-50 трендів України на Spotify, та 95 місце у чарті Ukraine Top 100 на Spotify.
       16 грудня 2021 вийшов другий студійний альбом «20&21».
       18 квітня 2022 полк «Азов» поширив відео про будні бійців, що боронять місто Маріуполь, використавши пісню «Касета» в якості фонової музики. Згодом його поширили популярні Telegram-канали і скоро пісня очолила чарти Spotify Viral 50 та Shazam Top 200[14].
       28 жовтня 2022 вийшов спільний з Структура щастя сингл «Силуети».
       17 лютого 2023 вийшов третій студійний альбом «Неонова мрія». </p>
</div>

{% endblock %}
