{% extends 'songs_of_SS/base.html' %}
{% block title %}База{% endblock %}

{% block content %}
<div class="photo">
    <img class="index-img-SadSvit" src="../../static/songs_of_SS/media/фото 1.jpg" alt="SadSvit">
    <img class="index-img-SadSvit" src="../../static/songs_of_SS/media/фото 2.jpeg" alt="SadSvit">
    <img class="index-img-SadSvit" src="../../static/songs_of_SS/media/фото 3.jpg" alt="SadSvit">
    <img class="index-img-SadSvit" src="../../static/songs_of_SS/media/фото 4.jpg" alt="SadSvit">
</div>
<div class="footer">
    <p>YouTube:</p>
    <a href="https://www.youtube.com/@sadsvit"><img class="social-networks-photo" src="../../static/songs_of_SS/media/ютуб.png" alt="ютуб"></a>
    <p>Instagram:</p>
    <a href="https://www.instagram.com/sadsvit/"><img class="social-networks-photo" src="../../static/songs_of_SS/media/інст.png" alt="інста"></a>
    <p>Telegram:</p>
    <a href="https://t.me/SadsvitMusic"><img class="social-networks-photo" src="../../static/songs_of_SS/media/телега.png" alt="телега"></a>
</div>
{% endblock %}